<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <!-- 引入bootstrap样式文件 -->
    <link rel="stylesheet" href="public/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/font/iconfont.css">
    <style>
        html,body{
            width: 100%;
            height: 100%;
        }
        .nav-item a{
            color: #000;
        }
        .nav-item .active{
            font-size:20px;
            color: #ABED9E;
            font-weight: 600;
        }
        .user_text{
            display: inline-block;
        }
        .user_text li{
            min-width: 40px;
            float: left;
        }
        .carousel-inner{
            overflow: hidden;
        }
        .banner-img{
            height: 100%;
            width: 100%;
        }
        .foods{
            margin: 0 auto;
            margin-top: 30px;
        }
        .food img {
            width: 100%;
            height: 160px;
            border-radius: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="#">
            <img src="public/img/logo.png" alt="Logo" style="width:40px;">
        </a>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/phpProject/?a=index">首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/phpProject/?a=foodclass">菜谱</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/phpProject/?a=user">个人中心</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/phpProject/?a=news">动态</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/phpProject/?a=friends">好友列表</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/phpProject/?a=morefriends">更多好友</a>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right user_text">
            <?php
            if(!empty( $_SESSION['username'])){
                $username = $_SESSION['username'];
                 echo "<li>欢迎！</li> ";
                    echo "<li>$username</li> ";
                    echo "<li><a href='/phpProject/?a=logout'> 退出</a></li>";
            }else{
                echo "<li><a href='/phpProject/?a=regis'> 注册</a></li>";
                   echo "<li><a href='/phpProject'> 登录</a></li>";
                }
            ?>
        </ul>
        <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="iconfont icon-xialaliebiaokuang" style="font-size:26px;"></span>
        </button>
    </nav>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">
    <!-- 指示符 -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
    </ul>
    <!-- 轮播图片 -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="banner-img" src="upload/banners/banner1.jpg">
        </div>
        <div class="carousel-item">
            <img class="banner-img" src="upload/banners/banner2.jpg">
        </div>
        <div class="carousel-item">
            <img class="banner-img"src="upload/banners/banner3.jpg">
        </div>
        <div class="carousel-item">
            <img class="banner-img" src="upload/banners/banner4.jpg">
        </div>
    </div>
    <!-- 左右切换按钮 -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<div class="container row foods">
    <h2 class="col-md-12">今日推荐</h2>
    <?php
       foreach ($foods as $food) {
        if($food["type"]==2){
                echo "<a class='col-md-3 food'  href='/phpProject/?a=foodDetail&id=";
                echo $food["r"]["id"]."' ><div>";
                    echo "<img src=".$food['r']['img']." />";
                    echo "<p>".$food['r']['n']."</p>";
                    echo "</div></a>";
            }

        }
    ?>
</div>

<!--引入jQuery-->
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="public/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
<script>

</script>
</body>

</html>
